.playMusic {
   cursor: pointer;
}
#toggleFoot {
   position: fixed;
   bottom: 0;
   margin-bottom: 0;
   width: 100%;
}
#toggleFoot .panel-default > .panel-heading{
   background: #00B4FF;
}
#toggleFoot .panel-heading {
   padding: 0;
   border-top-left-radius: 0px;
   border-top-right-radius: 0px;
}
#toggleFoot .panel-group .panel {
   border-radius: 0;
}
#toggleFoot .panel-title a {
   cursor: pointer;
   color: #FFFFFF;
   text-align: center;
   width: 100%;
   display: block;
   padding: 10px 15px;
   font-size: 24px;
   font-family: Helvetica,Arial,sans-serif;
   outline: none;
}
#toggleFoot .panel-title a:hover, .panel-title a:focus, .panel-title a:active {
   text-decoration: none;
   outline: none;
}
#toggleFoot .panel-heading {
   width: 4em !important;
}
#toggleFoot .panel.panel-default {
   border: 0 !important;
   background: none;
}
#collapseOne {
   background-color: #ffffff;
}
#toggleFoot .panel-heading i {
   -webkit-transition: 0.5s; /* For Safari 3.1 to 6.0 */
   transition: 0.5s;
}
#toggleFoot .panel-heading.open i {
   -webkit-transform: rotate(180deg); 
   -moz-transform: rotate(180deg);
   -o-transform: rotate(180deg);
}
#toggleFoot .panel-heading *, #toggleFoot .collapse.in {
   pointer-events: auto;
}
#toggleFoot, #toggleFoot .panel-heading, #toggleFoot .panel-default {
   pointer-events: none;
}
#collapseOne #player .background {
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   z-index: 0;
   background-position: center center;
   background-repeat: no-repeat;
   background-size: cover;
   pointer-events: none;
   opacity: 0.5;
    
   -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
   filter: grayscale(100%);
}
#collapseOne #player .foreground * {
   position: relative;
   z-index: 1;
}
#collapseOne #player .jp-video-play {
   display:none !important;
   margin:0;
   height:0;
}
#collapseOne, #collapseOne #player #jp-title, #collapseOne #player #jp-artist {
   font-family: sans-serif !important;
}
#collapseOne .panel-body {
   padding: 0;
   border: 0;
}
#collapseOne #player #jquery_jplayer_N {
   display: none !important;
}
#collapseOne #player #jp_container_N {
   width: 100%;
   border: 0;
}
#collapseOne #player .jp-playlist {
   display:none;
}
#collapseOne #player .jp-interface {
   border: 0;
}
#collapseOne #player .jp-controls {
   height: 42px;
   margin: 0;
}
#collapseOne #player .jp-controls-holder {
   top: 0;
   width: 100%;
   height: 40px;
}
#collapseOne #player button.jp-load, #collapseOne #player button.jp-play, #collapseOne #player button.jp-pause, #collapseOne #player button.jp-stop, #collapseOne #player a.jp-alias {
   padding: 0;
   margin: 0;
   background: none;
   text-indent: inherit;
   border: 1px solid black;
   background-color: #fff;
   float: none;
   position: absolute;
   top: 0;
   height: 40px;
   width: 40px;
   line-height: 40px;
   text-align: center;
   color: #666666;
}
#collapseOne #player button.jp-play:hover, #collapseOne #player button.jp-pause:hover, #collapseOne #player button.jp-stop:hover, #collapseOne #player a.jp-alias:hover {
   background-color: #ccc;
}
#collapseOne #player button.jp-load, #collapseOne #player button.jp-play, #collapseOne #player button.jp-pause {
   left: 0;
}
#collapseOne #player button.jp-load {
   z-index: 100;
   pointer-events: none;
}
#collapseOne #player button.jp-stop {
   left: 45px;
}
#collapseOne #player a.jp-alias {
   left: 90px;
}
#collapseOne #player .jp-toggles {
   position: initial;
   margin: 0;
}
#collapseOne #player button.jp-repeat {
   padding: 0;
   margin: 0;
   background: none;
   text-indent: inherit;
   border: 1px solid black;
   background-color: #fff;
   float: none;
   position: absolute;
   right: 0;
   top: 0;
   height: 18px;
   width: 18px;
}
#collapseOne #player .jp-volume-controls {
   padding: 0;
   margin: 0;
   background: none;
   text-indent: inherit;
   border: 1px solid black;
   background-color: #fff;
   float: none;
   position: absolute;
   right: 0;
   top: 22px;
   left: initial;
   height: 18px;
   width: 94px;
}
#collapseOne #player .jp-volume-controls button {
   padding: 0;
   margin: 0;
   background: none;
   text-indent: inherit;
   position: absolute;
   left: initial;
   line-height: 14px;
   font-size: 14px;
}
#collapseOne #player .jp-volume-controls .jp-mute {
   left:0;
}
#collapseOne #player .jp-volume-controls .jp-volume-max {
   right:0;
}
#collapseOne #player .jp-progress {
   height: 20px;
}
#collapseOne #player .jp-seek-bar {
   width: 100%;
   background: none;
}
#collapseOne #player .jp-play-bar {
   background: none;
}
#collapseOne #player .details {
   padding: 1em;
}
#collapseOne #player .jp-volume-bar-value, #collapseOne #player .jp-volume-bar-value {
   background-image: none;
}
#collapseOne #player #jp-title {
   font-size: 14px;
   font-weight: bold;
   text-overflow: ellipsis;
   overflow: hidden;
   white-space: nowrap;
}
#collapseOne #player #jp-artist, #collapseOne #player .details div {
   font-size: 12px;
   font-weight: normal;
   text-overflow: ellipsis;
   overflow: hidden;
   white-space: nowrap;
}
.details, .jp-current-time, .jp-duration {
   text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}
